@using Microsoft.AspNetCore.Authorization
@using DncyTemplate.BlazorServer.Components.Pages.Account
@inherits LayoutComponentBase

<style>
    body {
        --neutral-foreground-rest: green;
        -neutral-fill-rest: orange;
    }
</style>


<FluentMainLayout>
    <Header>
        <FluentStack Orientation="Orientation.Horizontal"
                     HorizontalAlignment="HorizontalAlignment.Left"
                     VerticalAlignment="VerticalAlignment.Center">

            <h3>Blazor Server App</h3>

            <FluentSpacer />

            <UserProfile ImagePath="images/profile.png" />

        </FluentStack>
    </Header>

    <Body>
        @Body
    </Body>

    <NavMenuContent>
        <FluentNavLink Icon="@(new Icons.Filled.Size16.BuildingHome())" IconColor="Color.Custom">Dashboard</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Filled.Size16.DocumentOnePageAdd())" IconColor="Color.Error">Hello</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Filled.Size16.DocumentOnePage())" IconColor="Color.Accent">About</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Filled.Size12.Balloon())" IconColor="Color.Fill">Best</FluentNavLink>
    </NavMenuContent>

</FluentMainLayout>

