.logo {
    font-size: 24px;
}

.btnSideCollapse {
    display: flex;
    padding: 5px;
    border-radius: calc(var(--control-corner-radius) * 1px)
}

    .btnSideCollapse:hover {
        background: #ffffff30;
    }
