@model DncyTemplate.Domain.Collections.IPagedList<DncyTemplate.Application.Models.Product.ProductListItemDto>
@{
    ViewData["Title"] = "Product List";
    Layout = "_Layout";
}

<h3>总数: @Model.TotalCount</h3>

<ul class="list-group list-group-flush">
    @foreach (var item in Model.Items)
    {
        <li class="list-group-item">@item.Name</li>
    }
</ul>
