@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorViewModel

@inject IHtmlLocalizer<SharedResource> _localizer

@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>抱歉，出错了</title>
    <style>
        body { margin: 0; }

        html, body { height: 100%; }

        .error-page-main {
            position: relative;
            padding-top: 50px;
            text-align: center;
        }

        .error-page-main__tip-img {
            max-width: 100%;
            width: 220px;
            height: 200px;
        }

        .error-page-main__code {
            position: absolute;
            top: 82px;
            left: 50%;
            width: 56px;
            margin-left: -108px;
            color: #888;
            font-size: 16px;
        }

        .error-page-main__message {
            padding: 3px 0 10px;
            font-size: 16px;
            color: #666;
        }

        .button {
            display: inline-block;
            border-radius: 7px;
            border: none;
            background: #1875FF;
            color: white;
            font-family: inherit;
            text-align: center;
            font-size: 13px;
            box-shadow: 0px 14px 56px -11px #1875FF;
            width: 10em;
            padding: 1em;
            transition: all 0.4s;
            cursor: pointer;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
        }

        .button span:after {
            content: 'for free';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.7s;
        }

        .button:hover span { padding-right: 3.55em; }

        .button:hover span:after {
            opacity: 4;
            right: 0;
        }

        @@media (min-width: 576px) {
            .error-page-main__tip-img {
                max-width: 100%;
                width: 275px;
                height: 250px;
            }

            .error-page-main__code {
                top: 90px;
                width: 70px;
                margin-left: -136px;
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
<div class="error-page-main">
    <img class="error-page-main__tip-img" src="~/img/tip-img.png">
    <span class="error-page-main__code">@ViewData["ErrorCode"]</span>
    <p class="error-page-main__message">@ViewData["ErrorMessage"]</p>
    <p class="error-page-main__message ">@_localizer[SharedResource.ErrorView_TraceId]：@Model?.TraceIdentifier</p>
    <a class="button" onclick="goBack()">@_localizer[SharedResource.BtnText_GoBack]</a>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>