<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.dotnetydd" value="https://nuget.dotnetydd.com/v3/index.json" />
  </packageSources>

    <packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*"/>
		</packageSource>
	    <packageSource key="nuget.dotnetydd">
		    <package pattern="Dotnetydd.*"/>
	    </packageSource>
    </packageSourceMapping>

</configuration>