<div class="right-side-navbar d-flex align-items-center justify-content-end">
    <!-- Top Bar Nav -->
    <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
            <button type="button"
                    class="btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti-search"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- Top Search Bar -->
                <div class="top-search-bar">
                    <form action="#" method="get">
                        <input type="search"
                               name="search"
                               class="from-control top-search mb-0"
                               placeholder="Type your keywords..." />
                        <button type="submit"><i class="ti-search"></i></button>
                    </form>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button"
                    class="btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti-email" aria-hidden="true"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-right">
                <!-- Top Message Area -->
                <div class="top-message-area">
                    <!-- Heading -->
                    <div class="top-message-heading">
                        <div class="heading-title">
                            <h6>Messages</h6>
                        </div>
                        <span>5 New</span>
                    </div>
                    <div class="message-box" id="messageBox">
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>6-hour video course on Angular</span>
                                <span>3 min ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>Google Ads: You'll get a refund soon</span>
                                <span>27 min ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>New Feature: HTTP Method Selection</span>
                                <span>56 min ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>The Complete JavaScript Handbook</span>
                                <span>1 hour ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>New comment: Admetro Template</span>
                                <span>2 days ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>6-hour video course on Angular</span>
                                <span>3 min ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>Google Ads: You'll get a refund soon</span>
                                <span>27 min ago</span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-email"></i>
                            <span class="message-text">
                                <span>New Feature: HTTP Method Selection</span>
                                <span>56 min ago</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button"
                    class="btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti-bell" aria-hidden="true"></i>
                <span class="active-status"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- Top Notifications Area -->
                <div class="top-notifications-area">
                    <!-- Heading -->
                    <div class="notifications-heading">
                        <div class="heading-title">
                            <h6>Notifications</h6>
                        </div>
                        <span>5 New</span>
                    </div>

                    <div class="notifications-box" id="notificationsBox">
                        <a href="#" class="dropdown-item">
                            <i class="ti-face-smile bg-success"></i><span>We've got something for you!</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-bell bg-danger"></i><span>Domain names expiring on Tuesday</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-check"></i><span>Your commissions has been sent</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-heart bg-success"></i><span>You sold an item!</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-bolt bg-warning"></i><span>Security alert for your linked Google account</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-face-smile bg-success"></i><span>We've got something for you!</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-bell bg-danger"></i><span>Domain names expiring on Tuesday</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-check"></i><span>Your commissions has been sent</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-heart bg-success"></i><span>You sold an item!</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ti-bolt bg-warning"></i><span>Security alert for your linked Google account</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button"
                    class="btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <img src="~/img/member-img/women.jpg" alt="" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- User Profile Area -->
                <div class="user-profile-area">
                    <div class="user-profile-heading">
                        <!-- Thumb -->
                        <div class="profile-thumbnail">
                            <img src="~/img/member-img/women.jpg" alt="" />
                        </div>
                        <!-- Profile Text -->
                        <div class="profile-text">
                            <h6>Samantha Sarah</h6>
                            <span>samanthasarah@example.com</span>
                        </div>
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="ti-user text-default" aria-hidden="true"></i>
                        My profile
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="ti-email text-success" aria-hidden="true"></i>
                        Messages
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="ti-settings text-default"
                           aria-hidden="true"></i>
                        Account settings
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="ti-heart text-purple" aria-hidden="true"></i>
                        Support
                    </a>
                    <a asp-controller="Account" asp-action="Logout" class="dropdown-item">
                        <i class="ti-unlink text-warning" aria-hidden="true"></i>
                        Sign-out
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
