@using DncyTemplate.BlazorServer.Components.Layout
@page "/account/login"



@layout NullLayout

<h3>Count is :@count</h3>
<button class="btn btn-primary" @onclick="IncrementCount">Click me +</button>


@code {
    int count;

    void IncrementCount()
    {
        count++;
        if (count>5)
        {
            throw new InvalidOperationException("123");
        }
    }
}
