
 <script type="text/javascript">
        function logout() {
            parent.layui.admin.closeAllTab()
            location.href = "/account/logout";
        }
    </script>

<li class="layui-nav-item" lay-unselect="">
    <a href="javascript:;"><img src="/images/avatar.jpg" class="layui-nav-img">用户名称</a>
    <dl class="layui-nav-child">
        <dd>
            <a user-menu-url="/user/profile" user-menu-id="user.profile" user-menu-title="个人信息">个人信息</a>
        </dd>
        <dd>
            <a user-menu-url="/user/settings" user-menu-id="user.settings" user-menu-title="个人设置">个人设置</a>
        </dd>
        <dd>
            <a user-menu-url="/user/change-pwd" user-menu-id="user.change-pwd" user-menu-title="修改密码">修改密码</a>
        </dd>
        <dd>
            <a href="javascript:void(0)" onclick="logout()">退出登陆</a>
        </dd>
    </dl>
</li>
