
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DncyTemplate.BlazorServer.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>

    <div id="loading" style="z-index:9999;height:100vh;width:100%;text-align:center;display:flex;justify-content:center;align-items:center">
        <div class="loader"></div>
    </div>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.onload = () => {
            setTimeout(() => {
                document.getElementById('loading').style.display = 'none';
            },500)
        };
    </script>
</body>

</html>
