.user-login {
    margin: -250px auto 0 !important;
    position: absolute !important;
    top: 40% !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}

    .user-login .layui-row {
        height: 650px;
        -moz-box-shadow: 2px 2px 10px #909090;
        -webkit-box-shadow: 2px 2px 10px #909090;
        box-shadow: 2px 2px 15px #909090;
    }

        .user-login .layui-row .layui-col-md7 {
            overflow: hidden;
            height: 100%;
        }

            .user-login .layui-row .layui-col-md7 img {
                border-radius: 5px;
                max-height: 100%;
            }

    .user-login .layui-col-md5 {
        height: 100%;
        border-radius: 5px;
        background-color: #ffffff;
    }

.user-login-foot {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 20px;
    color: #8c92a4;
}

    .user-login-foot a {
        margin-left: 5px;
        color: #8c92a4;
    }

.layui-form {
    width: 320px !important;
    margin: 20% auto !important;
}

    .layui-form button {
        width: 100% !important;
        height: 44px !important;
        line-height: 44px !important;
        font-size: 16px !important;
        background-color: #2D8CF0 !important;
        font-weight: 550 !important;
    }

.layui-form-checked[lay-skin=primary] i {
    border-color: #2D8CF0 !important;
    background-color: #2D8CF0 !important;
    color: #fff !important;
}

.layui-tab-content {
    margin-top: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.layui-form-item {
    margin-top: 20px !important;
}

.layui-input {
    height: 44px !important;
    line-height: 44px !important;
    padding-left: 15px !important;
    border-radius: 3px !important;
}

    .layui-input:focus {
        box-shadow: 0px 0px 3px 1px #2D8CF0 !important;
    }

.logo {
    width: 60px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 20px !important;
}

.title {
    font-size: 30px !important;
    font-weight: 550 !important;
    margin-left: 20px !important;
    color: #2D8CF0 !important;
    display: inline-block !important;
    height: 60px !important;
    line-height: 60px !important;
    margin-top: 10px !important;
    position: absolute !important;
}

.desc {
    width: 100% !important;
    text-align: center !important;
    color: gray !important;
    height: 60px !important;
    line-height: 60px !important;
}

.external-login {
    margin-top: 50px;
    text-align: center;
}

    .external-login .wx-logo {
        width: 40px;
    }

@media screen and (max-width: 1500px) {
    .user-login .layui-row {
        height: 580px !important;
    }

    .layui-form {
        margin: 15% auto !important;
    }
}
