<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/libs/pear/css/pear.css" asp-append-version="true"/>
    <style id="pearadmin-bg-color"></style>
    @await RenderSectionAsync("styles", required: false)
</head>
<body class="pear-container">
@RenderBody()

<script src="~/libs/layui/layui.js" asp-append-version="true"></script>
<script src="~/libs/pear/pear.js" asp-append-version="true"></script>

@await RenderSectionAsync("scripts", required: false)
</body>
</html>