@using System
@section Styles
{
    <style type="text/css">
        .job-dahboard { padding: 20px 0; }
    </style>
}

<div class="job-dahboard layui-container">
    <div class="layui-bg-gray" style="padding: 30px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">作业总数</div>
                    <h1 class="layui-card-body layui-font-blue">@ViewData["JobCount"]</h1>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">正在运行</div>
                    <h1 class="layui-card-body layui-font-green">@ViewData["RunningJobCount"]</h1>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">暂停的作业</div>
                    <h1 class="layui-card-body layui-font-green">@ViewData["PauseJobCount"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
    </script>
}