@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model DncyTemplate.Mvc.Models.Role.RolePermissionGrantViewModel

@{
    var setting = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}

<div class="layui-card">
    <div class="layui-card-body">
        <ul id="permission-tree" class="dtree" data-id="0"></ul>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="role-form">
            <div class="layui-form-item">
                <button class="pear-btn pear-btn-primary" lay-submit lay-filter="role-submit" id="role-submit">提交</button>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        layui.use(['abp', 'element', 'form', 'dtree', "toast"], function () {
            var $ = layui.$;
            var abp = layui.abp;
            var form = layui.form;
            var element = layui.element;
            var dtree = layui.dtree;
            var toast = layui.toast;

            @*
            form.val("role-form", @Html.Raw(JsonExtensions.ToJsonString(Model.Role,true,false)));
            *@
            form.render();

            dtree.render({
                elem: "#permission-tree",
                initLevel: "2",
                data: @Html.Raw(JsonConvert.SerializeObject(Model.Data, setting)),
                width: "100%",
                line: true,
                response: { message: "msg", statusCode: 0 },
                checkbar: true,
                ficon: ["1", "-1"],
                icon: ["0", "2"],
                dataStyle: "layuiStyle"
            });

            window.submitForm = function () {
                $("#role-submit").click();
            }

            $("#dddd").click(function () {
                toast.success({ title: "成功消息", message: "消息描述" })
            });

            form.on('submit(role-submit)', function (data) {
                //data.field.isStatic = data.field.isStatic === "on";
                data.field.permissions = getRolePermissions();

                var waitIndex = parent.layer.load(2);
               
                abp.ajax({
                    url: "@Html.Raw(Url.Action("Grant", "Permission",new {providerName="role",providerValue=ViewData["roleName"]}))",
                    data: JSON.stringify(data.field),
                    abpHandleError: false
                }).done(function (data) {
                    toast.success({ title: "成功消息", message: "消息描述" });
                }).fail(function (jqXHR) {
                    console.log(jqXHR)
                    toast.error({title:"危险消息",message:"消息描述"})
                }).always(function () {
                    parent.layer.close(waitIndex);
                });
                return false;
            });

            function getRolePermissions() {
                var selectedNode = dtree.getCheckbarNodesParam("permission-tree");
                selectedNode=selectedNode.filter(x=>x.level!=="1");
                var ids = selectedNode.map(function (d) { return d.nodeId});
                return ids;
            }
        });
    </script>
}