@using System
@{
    var c = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>后台作业 - Dashboard</title>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body style="min-height: 100vh">
<header class="layui-bg-blue" style="padding: 0 20px">
    <nav>
        <ul class="layui-nav layui-bg-blue">
            <li class="layui-nav-item @(c == "home" ? "layui-this" : "")">
                <a asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
            <li class="layui-nav-item @(c == "task" ? "layui-this" : "")">
                <a asp-controller="Task" asp-action="Index">作业</a>
            </li>
        </ul>
    </nav>
</header>
<div style="min-height: 100%; padding: 0 20px">
    <main role="main">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>