@using Microsoft.AspNetCore.Components.Authorization
@using System.Web
@using DncyTemplate.BlazorServer.Components.Pages
@inject NavigationManager NavManager


<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">

                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                    <Authorizing>
                        <text>Please wait, we are authorizing you...</text>
                    </Authorizing>
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated == false)
                        {
                            {
                                NavManager.NavigateTo("/login?returnUrl=" +
                                HttpUtility.UrlEncode(NavManager.ToBaseRelativePath(NavManager.Uri)), forceLoad: true);
                            }
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(Layout.NullLayout)">
                    <NotFoundError />
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>

    <ErrorContent>
        <h1>some things has error!!!</h1>
    </ErrorContent>
</ErrorBoundary>
